<a href="https://colab.research.google.com/github/ayushjai2002/lab1_ML/blob/main/Lab1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
for i in range(1, 11):
    print(i**2)

1
4
9
16
25
36
49
64
81
100

In [2]:
count = 0
for i in range(1, 1001):
    count += str(i).count('6')

print("The number of sixes between 1 and 1000 is:", count)

The number of sixes between 1 and 1000 is: 300

In [3]:
squares = [i**2 for i in range(1, 11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [4]:
count = sum(str(i).count('6') for i in range(1, 1001))
print("The number of sixes between 1 and 1000 is:", count)

The number of sixes between 1 and 1000 is: 300

In [5]:
my_string = "Hello world! This is a string with spaces."
space_count = sum([1 for char in my_string if char == ' '])
print("The number of spaces in the string is:", space_count)

The number of spaces in the string is: 7

In [6]:
table_of_5 = [i*5 for i in range(1, 11)]
print(table_of_5)

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [7]:
divisible_by_2_and_5 = [i for i in range(1, 1001) if i % 2 == 0 and i % 5 == 0]
print(divisible_by_2_and_5)

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140, 150, 160, 170, 180, 190, 200, 210, 220, 230, 240, 250, 260, 270, 280, 290, 300, 310, 320, 330, 340, 350, 360, 370, 380, 390, 400, 410, 420, 430, 440, 450, 460, 470, 480, 490, 500, 510, 520, 530, 540, 550, 560, 570, 580, 590, 600, 610, 620, 630, 640, 650, 660, 670, 680, 690, 700, 710, 720, 730, 740, 750, 760, 770, 780, 790, 800, 810, 820, 830, 840, 850, 860, 870, 880, 890, 900, 910, 920, 930, 940, 950, 960, 970, 980, 990, 1000]